.browse-box {
  border: 1px solid black;
  border-radius: 8px;
}

.cart-box {
  border: 1px solid black;
  border-radius: 8px;
}

.profile-box {
  position: absolute;
  border: 1px solid black;
  border-radius: 8px;
  top: 30vh;
  bottom: 0vh;
  left: 5vw;
  width: 90vw;
}

.profile-circle {
  border: 1px solid black;
background-color: transparent;
  border-radius: 100%;
  width: 30vw;
  height: 30vw;
}

.profile-circle.div {
  border: 3px solid red;
  border-radius: 100%;
  /* border-radius: 8px; */
  position: inherit;
  width: 30vw;
  height: 30vw;
}
