.browse-box {
  border: 1px solid black;
  border-radius: 8px;
}

.cart-box {
  border: 1px solid black;
  border-radius: 8px;
}

.profile-box {
  position: absolute;
  border: 1px solid black;
  border-radius: 8px;
  top: 30vh;
  bottom: 0vh;
  left: 5vw;
  width: 90vw;
}

.profile-circle {
  border: 1px solid black;
  border-radius: 100%;
}