.watchlist-box {
  border: 1px solid black;
  border-radius: 8px;
  width: 30%;
}

.cart-box {
  border: 1px solid black;
  border-radius: 8px;
  width: 30%;
}

.lists-container {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 75%;
}

.browse-box {
  border: 1px solid black;
  border-radius: 8px;
}

.profile-box {
  position: absolute;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 25%;
  bottom: -100vh;
  border-bottom: 0px;
  left: 5vw;
  width: 90vw;
}

.profile-circle {
  position: absolute;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 100%;
  /* top: min(-25vh); */
  left: 27.5vw;
  /* bottom: min(96.5%, 1px); */
  bottom: 95%;
  width: min(40vh, 270px);
  height: min(40vh, 270px);
}

/* .profile-circle.div.p {
  border: 3px solid red;
  border-radius: 100%;
  border-radius: 8px; 
  position: inherit;
  width: 35vw;
  height: 35vw;
  text-align: center;
} 
*/